Program
.vscode/tasks.json
Program.dSYM/Contents/Info.plist
Program.dSYM/Contents/Resources/DWARF/Program
Program.dSYM/Contents/Resources/Relocations/aarch64/Program.yml
._*
/.vs/Intro-to-C-plus-plus-Final-Project.slnx/FileContentIndex
/.vs/Intro-to-C-plus-plus-Final-Project.slnx/v18/ipch/AutoPCH/9daca161ae59172
/.vs/Intro-to-C-plus-plus-Final-Project.slnx/v18/Browse.VC.db
/.vs/Intro-to-C-plus-plus-Final-Project.slnx/v18/Browse.VC.db-shm
/.vs/Intro-to-C-plus-plus-Final-Project.slnx/v18/Browse.VC.db-wal
/.vs/Intro-to-C-plus-plus-Final-Project.slnx/v18/Browse.VC.opendb
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
